/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: white;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: black;
    color: yellow;
    padding: 2rem 0;
    text-align: center;
}

.brand-name {
    font-size: 10rem;
    font-weight: 600;
}

.tagline {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 10px;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin: 0 1.5rem;
}

.nav-links a {
    color: yellow;
    font-size: 1.2rem;
    font-weight: 600;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: white;
}

/* Hero Section */
.hero {
    background-color: #333;
    padding: 5rem 0;
    text-align: center;
    color: yellow;
}

.hero-content h2 {
    font-size: 3rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-top: 20px;
}

.cta-button {
    display: inline-block;
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    margin-top: 20px;
    font-weight: 600;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: white;
    color: yellow;
}

/* Bike Categories Section */
.bike-categories {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    gap: 20px;
}

.bike-card {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.bike-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.bike-card h3 {
    margin-top: 15px;
    font-size: 1.5rem;
}

.bike-card p {
    font-size: 1rem;
    margin-top: 10px;
}

/* About Section */
#about {
    padding: 3rem 2rem;
    background-color: #333;
    text-align: center;
}

#about p {
    font-size: 1.2rem;
}

/* Footer */
footer {
    background-color: black;
    color: yellow;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    font-size: 1rem;
}

.marginTopBottomZero {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Broadway';
}
